*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
}
.menu{
    display: flex;
    list-style: none;
 
} .menu-item{
    padding: 20px;
}
.menu-item a{
    color: white;
    text-decoration: none;
}
.menu-item:hover{
  background-color: white;  
}
.menu-item:hover a{
    color: black;
}